---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Load from '../components/Load';
---

<Layout title="Welcome to Astro.">
  <Load client:load/>
	<main class="h-screen w-screen">
		
	</main>
</Layout>

<style>
  main {
    background: url("/bg.png");
    background-size: cover;
    background-position: center;
  }
</style>
