---
import BaseHead from '../components/BaseHead.astro';
import Header from "../components/Header.astro"
import Navbar from "../components/Navbar.svelte"

let title = 'Example Blog';
let description = 'The perfect starter for your perfect blog.';
let permalink = 'https://example.com/';



// let allPosts = await Astro.glob('./posts/*.md');
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
    <script src="https://kit.fontawesome.com/0611ddbb9f.js" crossorigin="anonymous"></script>
    
  </head>

	<body>
  <style>
      main{
        background-image: linear-gradient(0deg, #031927 55.73%, rgba(3, 25, 39, 0.85) 100%), url("/assets/bg.jpg");
        background-position: center;
        background-size: cover;
      }
    </style>
    <main class="w-full px-[8.333333%]">
      <Navbar client:only="svelte"/>
      <Header/>
    </main>
	</body>
</html>
