---
  import SectionHeading from "./SectionHeading.astro";
  import Item from "./Item.astro";
  import {Language} from "../types"
  const { text, title} = Astro.props as Language["about"]
---


<section class="mb-32" id="about" data-aos="fade-up" data-aos-delay="200">
  <SectionHeading  data-aos-delay="200">{title}</SectionHeading>
  <div class="lg:flex gap-8 text-lg text-[#acacac] w-full">
    <span class="lg:w-7/12">
      <Fragment set:html={text}></Fragment>
    </span>
    <span class="flex gap-16 lg:w-5/12">
      <ul>
        <Item>Javascript & Typescript</Item>
        <Item>Svelte & Sveltekit</Item>
        <Item>React & Next.js</Item>
        <Item>Tailwind CSS</Item>
        <Item>Flutter</Item>
      </ul>
      <ul>
        <Item>Node.js</Item>
        <Item>Storybook</Item>
        <Item>Firebase</Item>
        <Item>Supabase</Item>
        <Item>Linux</Item>
      </ul>
    </span>
  </div>
</section>