---
import BlogCard from "./BlogCard.astro";
import SectionHeading from "./SectionHeading.astro"
let allPosts = await Astro.glob('../pages/posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());
allPosts = allPosts.slice(0,5)

---

<section class="pb-16" id="blog">
  <SectionHeading>Blog</SectionHeading>
  <div class="lg:grid gap-4 grid-cols-5 grid-flow-col mb-4">
    {allPosts.map((p) => <BlogCard post={p}/>)}
  </div>


  <a href="/posts" class="w-full flex justify-center my-8 ">
    <button class="bg-[#010C13] p-3 text-[#acacac] text-lg rounded-md  duration-300 hover:-translate-y-1 hover:shadow-lg shadow-white">
      More blog posts
    </button>
  </a>
</section>