---
interface Props {
  link?: string
}

const {link} = Astro.props

---

<a class="relative cursor-pointer" href={link}>
  <div class="text-[#BA1200] duration-300 flex items-center gap-4">
    <span class="material-symbols-outlined">
      open_in_new
    </span>
    <div class="hover:underline"><slot/></div>
  </div>
</a>