---
  import {Language} from "../types"

  const {tagline} = Astro.props as Language["header"]
---

<header class="flex items-center justify-center h-max my-72">
  <div class="w-full">
    <span class="text-8xl text-white font-poppins flex justify-center text-center">
      Tomáš Kebrle
    </span>
    <span class="text-[#acacac] flex mt-8 justify-center">
      {tagline}
    </span>
  </div>
</header>
