<header class="flex items-center justify-center h-max my-72">
  <div>
    <span class="text-8xl text-white font-poppins ">
      Tomáš Kebrle
    </span> <br>
    <span class="text-[#acacac] flex mt-8 justify-center">
      Student, programmer & web-developer
    </span>
  </div>
</header>
